*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.idea
.idea/
.navigation
.navigation/
build/
captures/